USE [master]
GO
/****** Object:  Database [FairManagementSystemDB]    Script Date: 5/28/2015 10:45:35 AM ******/
CREATE DATABASE [FairManagementSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FairManagementSystemDB', FILENAME = N'E:\MY ESSENTIAL FOLDER\CLASS WORK\BITM Class\Home Exrcise\FairManagementApp\DATA\FairManagementSystemDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FairManagementSystemDB_log', FILENAME = N'E:\MY ESSENTIAL FOLDER\CLASS WORK\BITM Class\Home Exrcise\FairManagementApp\DATA\FairManagementSystemDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FairManagementSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FairManagementSystemDB]
GO
/****** Object:  Table [dbo].[tblVisitor]    Script Date: 5/28/2015 10:45:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVisitor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ContactNumber] [int] NULL,
 CONSTRAINT [PK_tblVisitor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblVisitorZoneType]    Script Date: 5/28/2015 10:45:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVisitorZoneType](
	[VisitorId] [int] NOT NULL,
	[ZoneTypeId] [int] NOT NULL,
 CONSTRAINT [PK_tblVisitorZoneType] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC,
	[ZoneTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblZoneType]    Script Date: 5/28/2015 10:45:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblZoneType](
	[ZoneId] [int] IDENTITY(1,1) NOT NULL,
	[ZoneType] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblZoneType] PRIMARY KEY CLUSTERED 
(
	[ZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblVisitorZoneType]  WITH CHECK ADD  CONSTRAINT [FK_tblVisitorZoneType_tblVisitor] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[tblVisitor] ([Id])
GO
ALTER TABLE [dbo].[tblVisitorZoneType] CHECK CONSTRAINT [FK_tblVisitorZoneType_tblVisitor]
GO
ALTER TABLE [dbo].[tblVisitorZoneType]  WITH CHECK ADD  CONSTRAINT [FK_tblVisitorZoneType_tblZoneType] FOREIGN KEY([ZoneTypeId])
REFERENCES [dbo].[tblZoneType] ([ZoneId])
GO
ALTER TABLE [dbo].[tblVisitorZoneType] CHECK CONSTRAINT [FK_tblVisitorZoneType_tblZoneType]
GO
USE [master]
GO
